*.suo
*.exe
*.dll
Western/OpenTK/
TemporaryGeneratedFile*
*.cache
*FileListAbsolute.txt
*.pdb
*.exe.config
OpenTK.xml
build.force
*.exe.manifest
Western/LevelEditor/obj/
*.CodeAnalysisLog.xml
*.lastcodeanalysissucceeded
*.vsp
*.psess
OpenTK.GLControl.xml
